@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Pattaya&family=Sen&family=Tangerine:wght@400;700&display=swap");
@import "tailwindcss";

@plugin "daisyui";

@theme {
  --font-customH1: "Dancing Script", cursive;
  --font-custom: "Sen", sans-serif;
  --color-twilight: #c3b0a5;
  --color-clay: #ded4cb;
  --color-forest: #bad4b5;
  --color-cabin: #704214;
  --color-fog: #fefefe;
  --color-custom: #6a7554;
}

body {
  @apply bg-fog;
  @apply font-custom;
}
h1 {
  @apply font-customH1;
}
h2 {
  @apply font-customH1;
}
